<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Clientes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Cédula/Ruc</ion-label>
    <ion-input [(ngModel)]="clinete.ruc" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tienda</ion-label>
    <ion-input [(ngModel)]="clinete.tienda"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input [(ngModel)]="clinete.telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ubicación Actual</ion-label>
    <ion-input disabled> {{clinete.lat}} , {{clinete.lng}} </ion-input>
  </ion-item>
  <ion-button expand="block" (click)="guardarCliente()"  > Guardar </ion-button>
  <ion-list>
    <ion-list-header>
      <h4>Lista Clientes</h4>
    </ion-list-header>
    <ion-item-sliding *ngFor="let c of clientes">
      <ion-item (click)="abrirPedido(c)" >
        <ion-label>
          <h3> {{c.ruc}} - {{c.tienda}}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color='warning' (click)="SeleccionarCliente(c)" >
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>  
    </ion-item-sliding>
    
    
  </ion-list>
</ion-content>
