<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Localizar </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid fixed>
      <ion-row *ngIf="Tracking">
        <ion-col>
          <ion-button
            (click)="iniciarRecorrido()"
            class="ion-padding"
            expand="block"
            >Iniciar Recorrido</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!Tracking">
        <ion-col>
          <ion-button
            (click)="detenerRecorrido()"
            class="ion-padding"
            color="danger"
            expand="block"
          >
            Detener Recorrido
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
