<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pedidos
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list >
    <ion-item-sliding *ngFor="let pc of pedidosClientes; let indice=index">
      <ion-item >
        <p slot="start">{{indice + 1}}</p>
        <ion-label> {{ pc.tienda }} - {{ pc.total }} </ion-label>
        <p slot="end"> {{pc.estado}} </p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="EntregarPedido(pc)" >
          <ion-icon  name="checkmark-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option (click)="mostrarDetallePedido(pc)" >
          <ion-icon name="eye-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
    
  </ion-list>
</ion-content>
