<ion-header>
  <ion-toolbar>
    <ion-title>Crear Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Cédula/Ruc</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tienda</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ubicación Actual</ion-label>
    <ion-input disabled> </ion-input>
  </ion-item>
  <ion-button expand="block"  > Guardar </ion-button>

</ion-content>
